<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name ="util.TestNGListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/INDIA/IdeaProjects/bdd">
        <classes>
            <class name="runner.TestRunner"></class>

        </classes>
    </test>
</suite>